<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.codetribe.userhelpdesk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".ProfileUpdate"
            android:label="Profile Update" />
        <activity
            android:name=".LogCall"
            android:label="Call Log" />
        <activity
            android:name=".helpdeskadmin.MainAdmin"
            android:label="@string/title_activity_main_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".helpdeskadmin.Admin_AssignmentTab"
            android:label="@string/title_activity_admin__assignment_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".helpdeskadmin.Admin_CallLogTab"
            android:label="@string/title_activity_admin__call_log_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".helpdeskadmin.Admin_TechnicianTab"
            android:label="@string/title_activity_admin__technician_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".helpdeskadmin.Admin_ClientTab"
            android:label="@string/title_activity_admin__client_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".helpdeskadmin.Admin_UserTab"
            android:label="@string/title_activity_admin__user_tab"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>