<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.codetribe.userhelpdesk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="za.co.codetribe.userhelpdesk.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="za.co.codetribe.userhelpdesk.LoginActivity" />
        <activity
            android:name="za.co.codetribe.userhelpdesk.Home"
            android:label="Help Desk"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="za.co.codetribe.userhelpdesk.ProfileUpdate"
            android:label="Profile Update" />
        <activity
            android:name="za.co.codetribe.userhelpdesk.LogCall"
            android:label="Call Log"></activity>
    </application>

</manifest>